body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: 100vh;

	background-color: rgb(26, 26, 26);
	color: white;
}

#table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	/* width: 75vw; */
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;


	border-width: 2px;
	border-style: solid;

	padding: 10px;
	height: 150px;
	width: 200px;
	margin: 5px;

	position: relative;
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.171);
	cursor: pointer;
}

.card-active {
	background-color: rgba(255, 255, 255, 0.521);
}

.card-active:hover {
	background-color: rgba(255, 255, 255, 0.521);
}

.card-GREEN {
	border-color: #00a950;
}

.card-RED {
	border-color: #ea1c2d;
}

.card-PURPLE {
	border-color: #8051a4;
}

#check-set {
	visibility: hidden;

	margin-top: 40px;
}

#check-set-btn {
	height: 20px;
	width: 100px;
}

#announcement {
	visibility: hidden;

}

.shape {
	height: 100px;
}

.card-cover {
	position: absolute;
	height: 100%;
	width: 100%;
}