:root {
	--bg-color: rgb(26, 26, 26);
	--text-color: rgb(255, 255, 255);

	--purple: rgb(128, 81, 164);
	--red: rgb(234, 28, 45);
	--green: rgb(0, 169, 80);

	--card-hover: rgba(90, 90, 90, 0.226);
	--card-active: rgba(90, 90, 90, 0.486);
	--card-select: rgb(255, 215, 0);
}

html {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: var(--bg-color);
	color: var(--text-color);
	user-select: none;

	overflow: auto;
	min-height: 100%;
	min-width: 600px;
	margin: 0;
}

/* Container for everything */
#game-board {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: 100%;
}

/* Page Title */
#title {
	font-size: 3em;
	margin: 0px;
	margin-top: 0.3em;
}

/* announcement header: Correct! or Wrong! */
#announcement {
	visibility: hidden;
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.valid-color {
	color: var(--green) !important;
}

.invalid-color {
	color: var(--red) !important;
}

/* Container to hold all cards */
#table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	max-width: 70em;
}

.large-table {
	max-width: 80em !important;
}

/* Container to hold content of the card */
.card {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	flex-basis: 15em;
	flex-shrink: 0;

	border-width: 2px;
	border-style: solid;

	height: 7em;
	margin: 5px;
	min-width: 3em;

	position: relative;
}

.card:hover {
	background-color: var(--card-hover);
	cursor: pointer;
}

/* Styling for a selected card */
.card-active {
	border-color: var(--card-select) !important;
}

/* Coloring for Cards */
.card-GREEN {
	border-color: var(--green);
}

.card-RED {
	border-color: var(--red);
}

.card-PURPLE {
	border-color: var(--purple);
}

/* images for shape SVGs */
.shape {
	height: 90%;
}

/* Click event catcher  */
.card-cover {
	position: absolute;
	height: 100%;
	width: 100%;
}

/* Row of Game Buttons */
#game-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;

	min-width: 40em;
	max-width: 70em;
	margin-top: 2em;
	margin-bottom: 2em;
}

/* Button to validate selected cards */
.button {
	font-size: 1.3em;
	padding: 0.7em;
	width: 9em;

	color: var(--text-color);
	background-color: var(--bg-color);
	border: solid 2px var(--text-color);
}

.button:hover {
	background-color: var(--card-hover);
	cursor: pointer;
}

.button:focus {
	outline: none;
}

.button:active {
	background-color: var(--card-active) !important;
}

/* Endgame Modal */

#endgame-background {
	height: 100vh;
	width: 100vw;
	position: absolute;

	background-color: rgba(0, 0, 0, 0.568);
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

#endgame-modal {
	background-color: var(--bg-color);
	border: var(--card-select) solid 2px;
	padding: 1em 2em;
}

#score-board {
	margin: auto;
	margin-bottom: 1em;
	border-collapse: collapse;
}

.score {
	font-size: 1.3em;
}

.score * {
	padding: 8px;
	border: var(--text-color) solid 2px;
	text-align: right;
}

/* Constant Menu */
#constant-menu {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;

	margin-top: 1em;
	margin-right: 1em;
}

.constant-btn {
	margin: 0;
	padding: 3px 5px;
	font-size: 2em;
	text-align: center;
}

.constant-btn:hover {
	cursor: pointer;
	background-color: var(--card-hover);
}

.constant-btn:active {
	background-color: var(--card-active);
}

/* Disabled buttons */
.disabled {
	filter: opacity(30%);
}

.disabled:hover {
	background-color: initial;
	cursor: unset;
}

/* Utilities */

.display-none {
	display: none !important;
}